{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load static %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-9 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3 text-center">
                  Об авторе проекта
                </div> 
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted text-center">
                  <p>Всем привет! Меня зовут Герман Артуров, я изучаю язык программирования Python и фреймворк Django.</p>
                    <p>Сайт создан в учебных целях и прямого отношения к кинотеатру "Глобус" не имеет.</p>
                    <p>На сайте можно посмотреть афишу, узнать расписание сеансов и стоимость билетов.</p>
                    <p>Расписание из <a href="https://www.instagram.com/kino_globus/" target="_blank"></a>инстаграма</a> кинотеатра.</p>
                    <p>Предложения по улучшению сайта можно отправить мне в Телеграм или VK.</p>
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <!-- Тело страницы -->
      <div class="col-md-3">
        <div class="card">
        <div class="card-body text-left">
          <div class="text-left">
            <h3>Мои контакты</h3>
            <p><a href="https://github.com/ecmek" target="_blank"><img class="icon" src='{% static "/media/github_icon.png" %}'
                alt='GitHub'></a> Мой GitHub</p>
            <p><a href="https://vk.com/ecmek" target="_blank"><img class="icon" src='{% static "/media/vk_icon.png" %}'
                alt='VK'></a> Мой VK</p>
            <p><a href="https://www.instagram.com/germon4ik_/" target="_blank"><img class="icon" src='{% static "/media/instagram_icon.png" %}'
                alt='instagram'></a> Мой instagram</p>
            <p><a href="https://telegram.me/Ecmek" target="_blank"><img class="icon" src='{% static "/media/telegram_icon.png" %}'
                alt='Telegram'></a> Мой Telegram</p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
