<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="shortcut icon" href="#">
    <style>
    body {
        background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
    }
    </style>
    <title>{% block title %}Киноафиша кинотеатра "Глобус"{% endblock %}</title>
</head>
<body>
    <h1 class="text-center">{% block header %}{% endblock %}</h1>
    {% block content %}
    {% endblock %}
</body>
</html>
