{% extends "base.html" %}
{% block title %}Киноафиша кинотеатра "Глобус"{% endblock %}
{% block header %}Киноафиша кинотеатра "Глобус"{% endblock %}
{% block content %}
{% include "includes/menu.html" with index=True %}
  {% for film in page %}
    {% include 'includes/film_item.html' %}
      <div class="container mb-2 mt-2">
        <div class="card shadow-sm">
          <div class="card-header">Cеансы</div>
            <div class="row mx-1">
              {% for session in film.show_time.all %}
              {% if session.recentle_show %}
                {% include 'includes/session_item.html' %}
              {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% include "includes/paginator.html" with items=page paginator=paginator %}
{% endblock %}
