<div class="card col-lg-2 col-md-5 col-sm-3 mx-2 mt-2 mb-2 text-center">
    <ul class="list-group list-group-flush">
      <li class="list-group-item bg-light row">{{ session.datetime|date:"d.m в H:i"}}</li>
      <li class="list-group-item row">Формат: {{ session.format }}</li>
      <li class="list-group-item row">Цена: {{ session.price }}р</li>
      {% if user.is_staff %}
      <div class="d-flex justify-content-between align-items-center row">
      <a class="btn btn-sm btn-primary" href="{% url 'edit_session' film.id session.id %}" role="button">Редактировать</a>
      <a class="btn btn-sm btn-danger" href="{% url 'confrim_delete_session' film.id session.id %}" role="button">Удалить</a>
      </div>
      {% endif %}
    </ul>
</div>